<% provide(:title, "Edit Course") %>

<%= stylesheet_link_tag "sidebar.css" %>

<%= render 'teachers/sidebar' %>
<div class="main back-im">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Edit Course </h1>
    </div>
  </div
  <%= render 'form' %>
</div>