// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-back {
    height: 100%;
    background-image: url('fox.jpg');
    width: 100%;
    position: absolute;
    top:0;
    z-index: -1000;
}


@font-face {
  font-family:'crayon';
  src:font-url('CFCrayons.ttf') format('truetype');
} 

.container{
   font-family: 'crayon';
   color: white;
} 