<% provide(:title, "Edit Exam") %>

<%= stylesheet_link_tag "sidebar.css" %>

<body class="back-im">

<%= render 'teachers/sidebar' %>
<div class="main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Edit Exam </h1>
    </div>
  </div
  <%= render 'form' %>
</div>

</body>